@import './variables.scss';

html {
    box-sizing: border-box;
    position: relative;
    height: 100%;
    overflow: auto; //hidden
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    min-width: 320px;
    height: 100%;
    //overflow: auto;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    background-color: $light;
}

p {
    font-size: 1rem;
}

h4 {
    font-size: 1.2rem;
    font-weight: 500;
}
