$red: #ff4500;
$blue: #0090ff;
$light-blue: #4db1ff;
$dark-2: #252525;
$dark-1: #4b4b4b;

$light: #e0e7eb;
$light-1: #f1f4f3;

$gray-1: #f2f2f2;
$gray-2: #e6e6e6;
$gray-3: #d9d9d9;
$gray-4: #b3b3b3;
$gray-5: #8d8d8d;
$gray-6: #585858;
$gray-7: #525252;


 